@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body{
  background-color: #201f23;
}

/*------desktop style------*/
  #headNav{
    width: 100%;
    height: 60px;
    top: 0px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 28px #111;
	  -moz-box-shadow: 5px 5px 28px #111;
    box-shadow: 5px 5px 28px #111;
    z-index: 20;
    position: fixed;
    transition: 0.4s;
  }

  #headLogo{
    height: 80%;
    left: 2%;
  }

  #headLogoMin{
    display: none;
  }

  #socialNav{
    height: 30%;
    left: 10%;
    top: 25%;
  }

  .logoImg{
    margin-left: 2%;
    margin-top: 2%;
    height: 100%;
    object-fit: contain;
  }

  ul.socNav{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li.socIcon{
    height: 100%;
    float: left;
    padding-left: 10%;
  }

  .socImg{
    height: 100%;
    object-fit: contain;
  }

  .scrolledNav{
    background-color: transparent !important;
    height: 8vh !important;
    -webkit-box-shadow: none !important;
	  -moz-box-shadow: none !important;
	   box-shadow: none !important;
  }

  #heroDiv{
    min-height: 670px;
    width: 100%;
    padding-top: 7%;
    overflow-x: hidden;
    left: 0;
    background-color: #fff;
  }

/*  .heroVid{
    background-color: #000;
    position: absolute;
    top: 0;
    min-height: 850px;
    min-width: 100%;
  }

  #myVideo{
    position: absolute;
    top: 15%;
    left: 15%;
    height: 700px;
    }*/

  #heroImage{
    position: relative;
    width: 100%;
    margin-top: 25%;
    margin: auto;
  }

  .heroImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .heroText{
      margin-top: 20%;
      margin-right: 5%;
      font-family: 'Chakra Petch', sans-serif;
      text-align: right;
      color: #ff3b0c;
    }

  .subHero{
      margin-top: 5%;
      margin-right: 5%;
      font-family: 'Montserrat', sans-serif;
      text-align: right;
      color: #201f23;
    }

    .ctaButt{
      margin-left: auto;
      margin-top: 8%;
      margin-bottom: 8%;
      width: 42%;
      text-align: center;
    }

    .callButton{
      color: #fff;
      border-radius: 30px !important;
      background-color: #ff3b0c !important;
    }

  #ctaDiv{
    margin-top: 6%;
    min-height: 300px;
  }

  .ctaSep{
    max-width: 100%;
    background-color: #201f23;
    padding-bottom: 5%;
  }

  .quoteContainer{
    height: 30%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff3b0c;
    border-radius: 50px;
    padding: 3%;
  }

  .mainQuote{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }

  .quoted{
    font-family: 'Chakra Petch', sans-serif;
    color: #fff;
    text-align: right;
    line-height: 2;
  }

  #featDiv{
    height: 1000px;
    max-width: 100%;
    padding: 3% 0 15% 0;
    background-color: #fff;
  }

  .featureDiv{
    height: 45%;
    width:65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
  }

  .featureContain{
    width: 100%;
    height: 100%;
    background-color: #201f23;
    padding: 0 5% 0 5%;
    margin-left: 2.5%;
    display: inline-flex;
  }

  .featureTextL{
    float: left;
    text-align: left;
    max-width: 45% !important;
    margin: auto;
  }

  .featureImgL{
    height: 85%;
    margin: auto;
    padding-left: 20%;
  }

  .featureDescL{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: left;
  }

  .featureImgR{
    height: 85%;
    margin: auto;
    float: left;
  }

  .featureTextR{
    float: right;
    text-align: right;
    max-width: 45% !important;
    margin:auto;
  }

  .featureDescR{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: right;
  }

  .featImgR, .featImgL{
    height: 100%;
    object-fit: contain;
  }

  .featureTitle{
    font-family: 'Chakra Petch', sans-serif;
    color: #ff3b0c;
  }

  .ctaButt2{
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 8%;
    width: 42%;
    text-align: center;
  }

  #footerDiv{
    min-height: 650px;
    width: 100%;
    -webkit-box-shadow: 5px -5px 28px #111;
	  -moz-box-shadow: 5px -5px 28px #111;
    box-shadow: 5px -5px 28px #111;
  }

  .footerImg{
    margin: auto;
    padding-top: 8%;
    padding-left: 50%;
  }

  ul.companyLinks{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding-top: 3%;
    padding-left: 47%;
  }

  li.linkTitle{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    color: #ff3b0c;
    height: 100%;
    padding: 2%;
  }

  #footLinks li a{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: .5%;
  }

  /*---------------End desktop style---------------------------*/

  /*-------------------mobile style---------------------------*/
@media screen and (max-width: 750px) {
  #headNav{
    width: 60px;
    height: 60px;
    margin-top: 3%;
    background-color: #201f23;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
  }

  .logoImg{
    width: 45px;
    height: 45px;
  }

  #headLogo, #socialNav, #navSpacer{
    display: none;
  }

  .socNav{
    display: none;
  }

  #headLogoMin{
    height: 90%;
    padding: 2%;
    left: 20%;
    display: block;
    position: relative;
  }


  #heroDiv{
      min-height: 650px;
      width: 100%;
  }

  .heroCont{
    width: 100%;
    margin-top: 18%;
    display: inline-flex;
  }

  #heroLeft{
      width: 50%;
      background-color: transparent;
  }

  #heroRight{
      width: 100%;
  }

  .heroText{
      margin-top: 20%;
      min-width: 65%;
      float: left;
      margin-left: 15%;
      font-family: 'Chakra Petch', sans-serif;
      text-align: right;
      color: #ff3b0c;
  }

  .heroText h2{
    font-size: 16pt;
  }

  .heroText h6{
    font-size: 10pt;
  }

  #heroImage{
    position: absolute;
    display:inline-flex;
    right: 70%;
    max-height: 100%;
    min-width: 80%
  }
  .heroImg{
    object-fit: contain;
  }

  .subHero{
      margin-top: 5%;
      float: left;
      margin-left: 5%;
      font-family: 'Montserrat', sans-serif;
      text-align: right;
      color: #201f23;
    }

    .ctaButt{
      margin-left: auto;
      margin-right: auto;
      min-width: 60%;
      text-align: center;
    }

    .callButton{
      color: #fff;
      margin-top: 8%;
      border-radius: 30px !important;
      background-color: #ff3b0c !important;
    }

  #ctaDiv{
    margin-top: 10%;
    min-height: 200px;
  }

  .ctaSep{
    max-width: 100%;
    background-color: #201f23;
  }

  .quoteContainer{
    height: 30%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff3b0c;
    border-radius: 0px;
    padding: 3%;
  }

  .quoteContainer h4{
    font-size: 14px;
  }

  #featDiv{
    height: 850px;
    max-width: 100%;
    padding: 10% 0 35% 0;
  }

  .featureDiv{
    height: 50%;
    width:95%;
    margin-left: 2.5%;
    margin-bottom: 4%;
    display: inline-flex;
  }

  .featureContain{
    height: 98%;
    width: 95%;
    padding: 0 5% 0 5%;
    background-color: #201f23;
    margin-left: 2.5%;
  }

  .featureTextL{
    left: 5%;
    max-width: 45% !important;
    text-align: left;
    margin: auto;
    font-size: 12px;
    line-height: 1;
  }

  .featureTitle{
    font-size: 14px;
    line-height: 1;
  }

  .featureImgL{
    height: 60%;
    width: auto;
    margin: auto;
    right: 5%;
  }

  .featureImgR{
    height: 60%;
    width: auto;
    margin: auto;
    left: 5%;
  }

  .featureTextR{
    right: 5%;
    max-width: 45% !important;
    text-align: right;
    margin:auto;
    font-size: 12px;
    line-height: 1;
  }

  .featImgL, .featImgR{
    display: inline-block;
    height: 100%;
    object-fit: contain !important;
  }

  .featureTitle{
    font-family: 'Chakra Petch', sans-serif;
    color: #ff3b0c;
  }

  .featureDesc{
    font-family: 'Montserrat', sans-serif;
    color: #201f23;
    text-align: justify;
  }

  .ctaButt2{
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    min-width: 60%;
    text-align: center;
  }

  #footerDiv{
    min-height: 300px;
    width: 100%;
    -webkit-box-shadow: 5px -5px 28px #111;
	  -moz-box-shadow: 5px -5px 28px #111;
    box-shadow: 5px -5px 28px #111;
  }

  .footerImg{
    margin: auto;
    padding-top: 8%;
    padding-left: 47%;
  }

  ul.companyLinks{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding-top: 3%;
    padding-left: 42%;
    font-size: 12px;
  }

  li.linkTitle{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    color: #ff3b0c;
    height: 100%;
    padding: 2%;
  }

  #footLinks li a{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: .5%;
  }

}
  /*-------------------End mobile style---------------------------*/
